<!DOCTYPE html>
<html lang="en">

<head>
    <title>AI Face Blur in Video</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
</head>
<style>
    body{
        overflow-y: scroll;
    }
</style>
<body>
    <div class="py-5" style="height: 100%;background-color: white;margin-top: 85px; margin-bottom: 85px; padding: 50px; ">
        <div class="mx-auto" style="width: 60%;">

                <div class="embed-responsive embed-responsive-16by9">
                    <video class="video-fluid z-depth-1" autoplay loop controls muted>
                        <source src="/static/save-data/{{fileName}}-finish.mp4" type="video/mp4" />
                    </video>
                </div>
                <br>
                <a href="/static/save-data/{{fileName}}-finish.mp4" download><button class="btn btn-info"><i class="fa fa-download"></i> Download</button></a>
        </div>
        
        <div style="margin-top: 50px;">
        <div class="text-center">
        <h4>You selected the faces:</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="overflow-auto">
                <div class="d-flex flex-row bd-highlight mb-10 justify-content-center">
                    {% for people in detected_face_img %}
                    <div class="p-2 bd-highlight">
                          <input type="checkbox" name="person" value="{{people.id}}" />
                          <label for="{{people.id}}"><img src="{{people}}" /></label>
                    </div>
                    {% endfor %}
                </div>
                
            </div>
        </div>
        <div>
        </div>
       
    </div>
    
    <footer>      
    </footer>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>