@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #fafafa;
  font-size: 15px;
  font-family: "proxima_nova", Arial, "Heiti TC", "Microsoft JhengHei", "Microsoft Yahei", "PMingLiU", sans-serif;
}

ol{
  list-style-type: none;
}

input{
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

a, a:hover, a:visited{
  text-decoration: none;
}

.selectWrapper {
    max-width: 300px;
    min-width: 100px;
    overflow: hidden;
    position: relative;
    border: 1px solid #bbb;
    border-radius: 5px;
    padding-right: 15px;
  }

.selectWrapper select {
    padding: 12px 40px 12px 20px;
    font-size: 16px;
    line-height: 18px;
    width: 100%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    outline: none;
    cursor: pointer;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: ellipsis;
  }

.text-left{
  text-align: left;
}

.container{
  max-width: 400px;
  width: 100%;
  height: auto;
  margin: 200px auto;
}

.wrapper{
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius:  1px;
  margin-bottom: 15px;
}

.login{
    padding: 40px 40px 20px;
}

.wrapper input{
    margin-bottom: 5px;
}

.wrapper form input{
  display: block;
  width: 92%;
  border: 1px solid #efefef;
  border-radius: 5px;
  font-size: 12px;
  color: #262626;
  background: #fafafa;
  padding: 12px;
}

.wrapper form input:focus{
  outline: 1px solid #FFF;
}

.wrapper form input[type="button"]{
  margin: 20px 0;
  width: 100%;
  background: #3897f0;
  border: 1px solid#3897f0;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  padding: 10px;
  color: white;
  cursor: pointer;
}

.wrapper img{
  display: block;
  margin: 0 auto 35px;
  width: 94%;
  margin-bottom: 150px;
  margin-top: 50px;
}

.signup{
  padding: 10px 40px 10px;
  text-align: center;
}

.signup a{
  text-decoration:none;
  cursor: pointer;
  color: #3897f0
}

.signup a:visited {
  text-decoration: none;
  color: #3897f0
}

.title-nav .title{
  position: fixed;
  padding: 20px;
  width: 100%;
  top: 0;
  font-size: 20px;
  background-color: white;
  box-shadow: 0px 1px 2px 0px rgba(60,64,67,0.3), 0px 2px 6px 2px rgba(60,64,67,0.15);
  font-weight: lighter;
  z-index: 999;
}

.content-container{
  display: flex;
  flex-wrap: nowrap;
  margin-top: 75px;
}

.nav{
  width: 13%;
  height: 100%;
  padding: 15px;
}

.main{
  width: 87%;
  padding: 15px;
}

.nav li .selected{
  font-weight: 600;
/* box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3), 0 2px 6px 2px rgba(60,64,67,0.15);*/
  color: black;
}

.nav li a:hover{
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3), 0 2px 6px 2px rgba(60,64,67,0.15);
}

.nav li .selected .fa, .nav li .selected .fas{
  color: black;
}

.nav li .logout{
  text-decoration: none;
  width: 30%;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #80868B;
  padding: 3px 25px;
  min-height: 48px;
  font-weight: 400;
  line-height: 20px;
  box-sizing: content-box;
  position: relative;
  font-family: 'Roboto', 'Noto', sans-serif;
  -webkit-font-smoothing: antialiased;
  transition: all 300ms ease-in-out;
  border: 1px #dadce0 solid;
  border-radius: 5px;
  margin: 6px 0;
  background: white;
}

.nav li a{
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #80868B;
  padding: 3px 25px;
  min-height: 48px;
  font-weight: 400;
  line-height: 20px;
  box-sizing: content-box;
  position: relative;
  font-family: 'Roboto', 'Noto', sans-serif;
  -webkit-font-smoothing: antialiased;
  transition: all 300ms ease-in-out;
  border: 1px #dadce0 solid;
  border-radius: 5px;
  margin: 6px 0;
  background: white;
}


.nav li a .fa, .nav li a .fas {
  margin-right: 8px;
}

.main .content{
  box-shadow: 0px 1px 2px 0px rgba(60,64,67,0.3), 0px 2px 6px 2px rgba(60,64,67,0.15);
  background: #fff;
  max-width: 1100px;
  font-size: 14px;
  margin: 0 auto;
  margin-bottom: 90px;
  border-radius: 4px;
  min-height: 900px;
  padding: 70px 88px;
  padding-bottom: 0;
}

.main input[type="button"]{
  margin: 20px 0;
  width: 14%;
  background: #3897f0;
  border: 1px solid#3897f0;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  padding: 10px;
  color: white;
  cursor: pointer;
  margin-top: 42px;
}


.profile-table, .processing-table, .processed-table, .order-table, .item-table{
  display: table;
  width: 100%;
}

.processing-table, .processed-table{
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.order-table{
  border: 3px solid black;
}

.processing-table{
  border: 2px solid #248bed;
}

.processed-table{
  border: 2px solid #000;
}

.profile-table{
  margin-top: 15px;
}

.processed-table-container{
  margin-top: 100px;
}

.profile-table-row, .processing-table-row, .processed-table-row, .order-table-row, .item-table-row{
  display: table-row;
}

.item-table-row{
  text-align: center
}

.processing-table-row, .processed-table-row, .order-table-row{
  text-align: center;
}

.processing-table-row:nth-child(odd), .processed-table-row:nth-child(odd){
  background-color: #f0f0f0;
}

.profile-table-cell, .processing-table-head, .processing-table-cell,.processed-table-head, .processed-table-cell, .order-table-head, .order-table-cell, .item-table-head, .item-table-cell{
  display: table-cell;
  padding-top: 15px;
}

.item-table-head{
    font-weight: 700;
    font-size: 16px;
}

.profile-table-cell{
  border: none;
}

.processing-table-head, .processing-table-cell, .processed-table-head , .processed-table-cell, .processing-table-order, .processing-table-head, .order-table-cell, .order-table-head{
  font-size: 13px;
  vertical-align: middle;
  height: 45px;
  padding: 10px 5px;
}

.order-table-head{
  height: 25px;
}

.order-table-cell{
  height: 45px;
}

.processing-table-head, .processed-table-head{
    color: #666666;
}

.list-item-OrderId{
  width: 12%;
  text-align: center;
  margin-left: 20px;
}

.list-item-ShopName{
  width: 14%;
  text-align: left;
}

.list-item-Status{
  width: 14%;
}

.list-item-OrderDate{
  width: 10%;
}

.list-item-Amount{
  width: 14%;
}

.list-item-Amount{
  width: 12%;
}

.list-item-Action{
  width: 10%;
  text-align: left;
}

.store-item-Name{
  width: 14%;
}

.store-item-Status{
  width: 10%;
}

.store-item-Price{
  width: 14%;
}

.store-item-Qty{
  width: 8%;
}

.store-item-Qty input{
  width: 40px;
}

.store-item-Action{
  width: 10%;
}

.shop-information{
    margin-bottom: 50px;
}

.store-item-Action button, .order-table button{
  background: #3897f0;
border: 1px solid#3897f0;
border-radius: 4px;
text-align: center;
font-weight: bold;
font-size: 13px;
padding: 10px;
color: white;
cursor: pointer;
}

.list-item-Action button{
  padding: 6px;
  background-color: #17a2b8;
  border-radius: 5px;
  border: 0px solid black;
  color: white;
  cursor: pointer;
}


.list-item-Action a{
  color: white;
}

.processing-table-heading,  .processed-table-heading, .order-table-heading, .item-table-heading{
	display: table-header-group;
  text-align: center;
}

.order-table-heading{
    background-color: black;
    color: white;
}

.processing-table-header-cell, .processed-table-header-cell{
  font-size: 20px;
  width: 180px;
  height: 48px;
  line-height: 48px;
  padding-left: 20px;
  padding-right: 24px;
  font-weight: bold;
  color: #FFF;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.processing-table-header-cell{
  background-color: #248bed;
}

.processed-table-header-cell{
  background-color: #000;
}

.account-password .profile-table-cell input{
  width: 40%;
}

.order-table{
  margin-top: 50px;
}

.profile-table-cell input{
  width: 20%;
  margin-top: 5px;
  font-weight: 100;
}

.profile-table-body, .processing-table-body, .processed-table-body, .order-table-body, .item-table-body{
  display: table-row-group
}

.content .account-password{
    border-top: 1px dotted #CCCCCC;
    margin-top: 30px;
    padding-top: 60px;
}

.account-password .profile-table-cell:nth-child(odd) {
  width: 22%;
}

.main .content span {
  font-size: 20px;
  margin-right: 20px;
  color: #6d6e71;
}

.main .content .back-button button{
  padding: 10px 20px;
  margin-bottom: 40px;
  background-color: black;
  color: white;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.checkout-button{
  width: 100%;
}

.main .content .payment-button button{
  padding: 15px 24px;
  margin-top: 135px;
  background-color: lightslategray;
  color: white;
  border: 0px;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  left: 50%;
  position: absolute;
  width: 180px;
}

.main .content .checkout-button button{
  padding: 10px 20px;
  margin-top: 80px;
  background-color: lightslategray;
  color: white;
  border: 0px;
  border-radius: 5px;
  font-weight: 700;
  float: right;
  cursor: pointer;
}

.cart button{
  width: 100px;
}

.main .content .checkout-button button:hover{
  background-color: black;
  transition: all 0.8s
}

.main .content .order-information{
  font-size: 16px;
  color: #666;
}

.main .content .status{
  font-size: 20px;
  margin-top: 10px;
  font-weight: 600;
}

.order-total, .checkout-total{
  width: 15%;
  margin-top: 20px;
  float: right;
  font-weight: 600
}

.order-total{
  padding-right: 82px;
}

.checkout-total{
  padding-right: 115px;
}

.item-count {
  border-radius: 50%;
  width: 17px;
  height: 17px;
  background: #E1306C;
  border: 2px solid #E1306C;
  text-align: center;
  margin-right: 5px;
  color: white;
  font-weight: 600;
  font: 14px Arial, sans-serif;
  float: left;
}

.item-total{
    text-align: left;
    padding-right: 50px
}

.order-total .item-total, .total{
  font-size: 18px;
}

.content-bar{
  width: 100%;
  height: 40px;
  background-color: black;
  color: white;
  vertical-align: 20px;
  line-height: 20px;
}

.content-bar .title{
  float: left;
  line-height: 45px;
  padding-left: 18px;
  font-weight: bold;
  font-size: 18px;
}

/*----Card ----*/
.content .store-list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 250px;
  width: 30%;
  margin: 10px;
  text-align: left;
  flex: 1 0 21%;
}

.card .address {
  color: grey;
  font-weight: lighter;
  font-size: 12px;
  margin-top: 5px;
}

.card button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
}

.store-list .card h1{
  font-size: 20px;
  margin-bottom: 20px;
}

.store-list a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.card img{
  border-bottom: 2px solid darkgrey;
}

.card-content{
  padding: 25px;
}

.card button:hover, .card a:hover {
  opacity: 0.7;
}

/*----message----*/
.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-dismissible {
  padding-right: 4rem;
}

.alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem 1.25rem;
  color: inherit;
}

.bs-callout {
    padding: 20px;
    margin: 30px 0;
    border: 1px solid #BEBEBE;
    border-left-width: 5px;
    border-radius: 0px;
    background-color: white;
}
.bs-callout h5 {
    margin-top: 0;
    margin-top: 10px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: black;
}

.bs-callout-primary {
    border-left-color: gray;
}

.bs-callout-success {
    border-left-color: #5cb85c;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

.message .bs-callout button{
    margin-top: -6px;
    float: right;
    cursor: pointer;
    border: none;
    background-color: white;
}
