*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    background-color: #fafafa;
 }

button, input[type='button']{
     cursor: pointer;
 }

img{
     max-height: 100%;
}

a{
    font-size: 10px;
    color: black;
    margin-top: 40px;
    text-decoration: none;
}

.login-form-btnLogin{
    margin: 20px 0;
    width: 100px;
    background: black;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    padding: 10px;
    color: white;
    cursor: pointer;
    float: right;
    margin-top: 30px;
    margin-right: -20px;
}

input{
    display: block;
    width: 100%;
    border: 1px solid #efefef;
    border-radius: 5px;
    font-size: 12px;
    color: #262626;
    background: #fafafa;
    padding: 12px;
    margin-top: 10px;
}

.signup-form input{
    width: 100%;
}


input[name='lastName']{
    flex-direction:row;
    justify-content:flex-start;
    margin-left: 10px;
}
.input-container{
    display: flex;
    width: 107%;
}
input[name='firstName'], input[name='lastName']{
    width: 100%;
}

.login-container{
    flex-wrap: nowrap;
    margin-top: 75px;
    width: 100%;
    height: auto;
    margin: 200px auto;
 }

.login-form, .signup-form{
    width: 50%;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid #d8dee2;
    border-radius: 3px;
    background-color: white;
    width:400px;
    height:auto;
}


.signup-form{
    height: auto;
}



.signup-form input[type='button']{
    width: 100%;
    background: #3897f0;
    color: white;
    font-weight: bold;
    margin-top: 50px;
}


h1{
    margin-top: 20px;
    text-align: center;
}

.login-form hr{
    overflow: visible;
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
    margin-top: 30px;
}


.login-form-detial-row{
    display: flex;
    margin-top: 70px;
}

.signup-form-detial-row{
    margin-top: 40px;
    width: 90%;
    padding: 10px;
}

.login-form-detial-col-role{
    flex: 30%;
    margin-top: -10px;
}

.login-form-detial-col-input{
    flex: 70%;
    padding: 0 50px 0 50px ;
    
}

.login-form-detial-col-role button{
    width: 100%;
    text-align: right;
    padding: 10px;
    background-color: white;
    border: 0;
    border-right: 1px solid #d8dee2; 
    border-radius: 2px;
}

.login-form-detial-col-role button:hover{
    background-color: #333;
    color: white;
    opacity: 0.6;
    transition: 0.9s;
}

.login-form-detial-col-role .selected{
    background-color: black;
    color: white;
}

.signup-form span{
    width: 100%;
    text-align: center;
    color: grey;
    display: block;
}

.bs-callout {
    padding: 20px;
    border: 1px solid #BEBEBE;
    border-left-width: 5px;
    border-radius: 1px;
    background-color: white;
    width: 5;
    margin: 10px auto 0px 0px;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.signup-message, .login-message{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.bs-callout-success {
    border-left-color: #5cb85c;
}